
.fon{
	background: url("../image/Заставка3.jpg");     /*  фон-картинка*/
	background-repeat: no-repeat;                  /*  фон-картинка не повторяется*/ 
	background-size: 100% auto;                    /*  фон-картинка подгоняется по размерам к блоку*/
	background-position: left  center;             /*  фон-картинка упирается в левый верхний угол*/
	min-width:100px;
	min-height:200px;
}

a:link{
	text-decoration:none;                          /* Делает ссылку цветной */
	color: #fbe684;
}
a:visited{ 
	text-decoration: none;                         /* Делает ссылку цветной */
	color: #fbe684; 
} 
a:active{
	text-decoration: none;
	color: white;                                  /* Делает ссылку белой при нажатии */
}
a:hover{text-decoration: underline;}               /* Делает ссылку подчеркнутой при наведении на нее курсора */

.otstup{
	width:100%;
	height:20px;
}

.inbody {
	background:#03132c;
	margin-left:10%;
	margin-top:100px;
	width:80%;
	border-radius:50px;                            /* радиус закруглений на углах блока*/
}

.zagolovok{
	width:80%;
	height:12%;
	margin-left:10%;                               /* отступ блока от левого края */
	color: white;                                  /* цвет шрифта */
	font-stretch: ultra-expanded;                  /* жирность(очень) */
	font-size:50px;                                /* размер шрифта */
	text-align: center;
}

.text{
	width:80%;
	height:20%;
	margin-left:10%;                               /* отступ блока от левого края */
	color: white;                                  /* цвет шрифта */
	font-stretch: expanded;                        /* жирность текста(очень) */
	font-size:30px;                                /* размер шрифта */
	text-indent: 5%;                               /* Красная строка,отступ слева */
	text-align:justify;                            /* выравнивание по ширине (одновременно по правому и левому краю) */
}

.Реки{
	width:70%;
	height:12%;
	margin-left:5%;                                /* отступ блока от левого края */
	margin-right:25%;                              /* отступ блока от левого края */
	margin-bottom:2%;                              /* отступ блока от левого края */
	color: white;                                  /* цвет шрифта */
	font-stretch: ultra-expanded;                  /* жирность(очень) */
	font-size:50px;                                /* размер шрифта */
	text-indent: 2%;                               /* Красная строка,отступ слева */
	transition:0.8s;                               /* время срабатывания анимации */	
}
.Реки:hover{
	width:75%;
	font-size:55px;                                /* размер шрифта */
	text-indent: 1%;                               /* Красная строка,отступ слева */
}

@media screen and (min-width:2000px) and (max-width:8000px) {
.zagolovok{font-size:100px;}                                 /* размер шрифта */
.inbody {border-radius:100px;}                               /* радиус закруглений на углах блока*/
.otstup {height:40px;}
.text{font-size:60px;}                                       /* размер шрифта */
.Реки{font-size:100px;}                                      /* размер шрифта */
.Реки:hover{font-size:110px;}                                /* размер шрифта */
}
@media screen and (min-width:100px) and (max-width:1023px) {
.zagolovok{font-size:25px;}                                 /* размер шрифта */
.otstup {height:10px;}
.inbody {border-radius:25px;}                               /* радиус закруглений на углах блока*/
.text{font-size:15px;}                                      /* размер шрифта */
.Реки{font-size:25px;}                                      /* размер шрифта */
.Реки:hover{font-size:27px;}                                /* размер шрифта */
}

