body{
	margin:0;                                     /* Отступ 0px */
	background:green;                             /* проверка */
}

#boody{
	background:green;                             /*  фон красный  */
	height:auto;                                  /*  высота 1500px */
	max-width:2362px;                             /*  предел ширины при масштабировании 2362px */
	width:100%;                                   /* проверка */
	/*width:1366px;                                 /* проверка */
}
													/*head(Заголовок и кнопки)*/
.hhead{
	height:20px;                                  /* проверка */
	width:100%;                                   /* проверка */
	background:green;                             /* проверка */
}

.head{
	height:200px;
	width:100%;
	background:green;                              /* цвет фона */
}

.Старт{
	background-color:#1a9bdc;                      /* цвет фона */
	width:80%;
	height:90%;
	max-width: 1000px;
	margin-left:10%;                               /* отступ блока от левого края */
	border-radius: 10px;                           /* радиус закруглений на углах блока*/
	line-height:175px;                             /* межстрочное расстояние, отступ сверху */
	color: white;                                  /* цвет шрифта */
	font-stretch: ultra-expanded;                  /* жирность(очень) */
	font-size:100px;                               /* размер шрифта */
	/*text-indent: 350px;                          /* Красная строка,отступ слева */
	text-indent: 30%;                              /* Красная строка,отступ слева */
	transition:0.8s;                               /* время срабатывания анимации */
}
.Старт:hover {
	box-shadow: 0 0px 8px black;                   /* появление тени */
	font-weight:500;                               /* жирность шрифта увеличивается*/ 
	font-size:105px;                               /* размер шрифта */
	text-indent: 340px;                            /* Красная строка,отступ слева */
	border-radius: 90px;                           /* радиус закруглений на углах блока*/
}
													/*Kvest(вопрос)*/
.Kvest{
	position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
	width:70%;                                      /*  ширина*/
	margin-left:15%;                                /*  отступ слева*/
	height:100px;                                   /*  высота*/
	top:10px;                                       /*  отступ сверху */
	background-color:#1a9bdc;                       /*  цвет фона */
	border-radius: 10px;                            /*  радиус закруглений на углах блока*/
	line-height:85px;                               /*  межстрочное расстояние, отступ сверху */
	border: 3px solid black;                        /*  задаём свойства рамки*/
	color: white;                                   /*  цвет шрифта */
	font-stretch: ultra-expanded;                   /*  жирность(очень) */
	font-size:50px;                                 /*  размер шрифта */
	text-align:center;                              /*  текст ориентируется по центру */
}

.Yes{background-color:green;}                   /*  цвет фона */

.No{background-color:red;}                      /*  цвет фона */

.KvestX{
	position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
	width:10%;                                      /*  ширина*/
	margin-left:87.5%;                              /*  отступ слева*/
	height:100px;                                   /*  высота*/
	top:10px;                                       /*  отступ сверху */
	background-color:#1a9bdc;                       /*  цвет фона */
	border-radius: 10px;                            /*  радиус закруглений на углах блока*/
	line-height:85px;                               /*  межстрочное расстояние, отступ сверху */
	border: 3px solid black;                        /*  задаём свойства рамки*/
	background: url("../image/Закрыть.png");        /*  фон-картинка*/
	background-repeat: no-repeat;                   /*  фон-картинка не повторяется*/
	background-size: auto 102%;                     /*  Размеры по горизонтали(сколько нужно,auto) и вертикали(вся, 100%)*/
	background-position: center top;                /*  текст ориентируется по центру и сверху*/
}

.Заново{
	position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
	width:10%;                                      /*  ширина*/
	margin-left:2.5%;                               /*  отступ слева*/
	height:100px;                                   /*  высота*/
	top:10px;                                       /*  отступ сверху */
	background-color:#1a9bdc;                       /*  цвет фона */
	border-radius: 10px;                            /*  радиус закруглений на углах блока*/
	border: 3px solid black;                        /*  задаём свойства рамки*/
	background: url("../image/Заново.png");            /*  фон-картинка*/
	background-repeat: no-repeat; 
	background-size: auto 102%;                     /*  Размеры по горизонтали(сколько нужно,auto) и вертикали(вся, 100%)*/
	background-position: center top;	
}

													/*Адаптивность*/

@media screen and (min-width:600px) and (max-width:1024px) {
	.hhead{
		height:10px;                                  /* проверка */
		width:auto;                                   /* проверка */
		background:green;                             /* проверка */
	}

	.head{
		height:100px;
		width:auto;
		background:green;                              /* цвет фона */
	}

	.Старт{
		background-color:#1a9bdc;                      /* цвет фона */
		width:80%;
		height:90%;
		margin-left:10%;                               /* отступ блока от левого края */
		border-radius: 5px;                           /* радиус закруглений на углах блока*/
		line-height:90px;                             /* межстрочное расстояние, отступ сверху */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:50px;                               /* размер шрифта */
		/*text-indent: 350px;                            /* Красная строка,отступ слева */
		text-indent: 37%;                            /* Красная строка,отступ слева */
		transition:0.8s;                               /* время срабатывания анимации */
	}
	.Старт:hover {
		box-shadow: 0 0px 8px black;                   /* появление тени */
		font-weight:500;                               /* жирность шрифта увеличивается*/ 
		font-size:55px;                               /* размер шрифта */
		text-indent: 35%;                            /* Красная строка,отступ слева */
		border-radius: 45px;                           /* радиус закруглений на углах блока*/
	}
														/*Kvest(вопрос)*/
	.Kvest{
		position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
		width:70%;                                      /*  ширина*/
		margin-left:15%;                                /*  отступ слева*/
		height:50px;                                   /*  высота*/
		top:5px;                                       /*  отступ сверху */
		background-color:#1a9bdc;                       /*  цвет фона */
		border-radius: 5px;                            /*  радиус закруглений на углах блока*/
		line-height:42px;                               /*  межстрочное расстояние, отступ сверху */
		border: 2px solid black;                        /*  задаём свойства рамки*/
		color: white;                                   /*  цвет шрифта */
		font-stretch: ultra-expanded;                   /*  жирность(очень) */
		font-size:25px;                                 /*  размер шрифта */
		text-align:center;                              /*  текст ориентируется по центру */
	}

	.Yes{background-color:green;}                   /*  цвет фона */

	.No{background-color:red;}                      /*  цвет фона */

	.KvestX{
		position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
		width:10%;                                      /*  ширина*/
		margin-left:87.5%;                              /*  отступ слева*/
		height:50px;                                   /*  высота*/
		top:5px;                                       /*  отступ сверху */
		background-color:#1a9bdc;                       /*  цвет фона */
		border-radius: 5px;                            /*  радиус закруглений на углах блока*/
		line-height:42px;                               /*  межстрочное расстояние, отступ сверху */
		border: 2px solid black;                        /*  задаём свойства рамки*/
		background: url("../image/Закрыть.png");           /*  фон-картинка*/
		background-repeat: no-repeat;                   /*  фон-картинка не повторяется*/
		background-size: auto 102%;                     /*  Размеры по горизонтали(сколько нужно,auto) и вертикали(вся, 100%)*/
		background-position: center top;                /*  текст ориентируется по центру и сверху*/
	}

	.Заново{
		position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
		width:10%;                                      /*  ширина*/
		margin-left:2.5%;                               /*  отступ слева*/
		height:50px;                                   /*  высота*/
		top:5px;                                       /*  отступ сверху */
		background-color:#1a9bdc;                       /*  цвет фона */
		border-radius: 5px;                            /*  радиус закруглений на углах блока*/
		border: 2px solid black;                        /*  задаём свойства рамки*/
		background: url("../image/Заново.png");            /*  фон-картинка*/
		background-repeat: no-repeat; 
		background-size: auto 102%;                     /*  Размеры по горизонтали(сколько нужно,auto) и вертикали(вся, 100%)*/
		background-position: center top;	
	}
}

@media screen and (min-width:200px) and (max-width:600px) {
	.hhead{
		height:5px;                                  /* проверка */
		width:auto;                                   /* проверка */
		background:green;                             /* проверка */
	}

	.head{
		height:50px;
		width:auto;
		background:green;                              /* цвет фона */
	}

	.Старт{
		background-color:#1a9bdc;                      /* цвет фона */
		width:80%;
		height:90%;
		margin-left:10%;                               /* отступ блока от левого края */
		border-radius: 2px;                           /* радиус закруглений на углах блока*/
		line-height:45px;                             /* межстрочное расстояние, отступ сверху */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:25px;                               /* размер шрифта */
		/*text-indent: 350px;                            /* Красная строка,отступ слева */
		text-indent: 37%;                            /* Красная строка,отступ слева */
		transition:0.8s;                               /* время срабатывания анимации */
	}
		.Старт:hover {
		box-shadow: 0 0px 8px black;                   /* появление тени */
		font-weight:500;                               /* жирность шрифта увеличивается*/ 
		font-size:27px;                               /* размер шрифта */
		text-indent: 35%;                            /* Красная строка,отступ слева */
		border-radius: 22px;                           /* радиус закруглений на углах блока*/
	}
														/*Kvest(вопрос)*/
	.Kvest{
		position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
		width:70%;                                      /*  ширина*/
		margin-left:15%;                                /*  отступ слева*/
		height:25px;                                   /*  высота*/
		top:2px;                                       /*  отступ сверху */
		background-color:#1a9bdc;                       /*  цвет фона */
		border-radius: 2px;                            /*  радиус закруглений на углах блока*/
		line-height:21px;                               /*  межстрочное расстояние, отступ сверху */
		border: 1px solid black;                        /*  задаём свойства рамки*/
		color: white;                                   /*  цвет шрифта */
		font-stretch: ultra-expanded;                   /*  жирность(очень) */
		font-size:12px;                                 /*  размер шрифта */
		text-align:center;                              /*  текст ориентируется по центру */
	}

	.Yes{background-color:green;}                   /*  цвет фона */

	.No{background-color:red;}                      /*  цвет фона */

	.KvestX{
		position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
		width:10%;                                      /*  ширина*/
		margin-left:87.5%;                              /*  отступ слева*/
		height:25px;                                   /*  высота*/
		top:2px;                                       /*  отступ сверху */
		background-color:#1a9bdc;                       /*  цвет фона */
		border-radius: 2px;                            /*  радиус закруглений на углах блока*/
		line-height:21px;                               /*  межстрочное расстояние, отступ сверху */
		border: 1px solid black;                        /*  задаём свойства рамки*/
		background: url("../image/Закрыть.png");           /*  фон-картинка*/
		background-repeat: no-repeat;                   /*  фон-картинка не повторяется*/
		background-size: auto 102%;                     /*  Размеры по горизонтали(сколько нужно,auto) и вертикали(вся, 100%)*/
		background-position: center top;                /*  текст ориентируется по центру и сверху*/
	}

	.Заново{
		position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
		width:10%;                                      /*  ширина*/
		margin-left:2.5%;                               /*  отступ слева*/
		height:25px;                                   /*  высота*/
		top:2px;                                       /*  отступ сверху */
		background-color:#1a9bdc;                       /*  цвет фона */
		border-radius: 2px;                            /*  радиус закруглений на углах блока*/
		border: 1px solid black;                        /*  задаём свойства рамки*/
		background: url("../image/Заново.png");            /*  фон-картинка*/
		background-repeat: no-repeat; 
		background-size: auto 102%;                     /*  Размеры по горизонтали(сколько нужно,auto) и вертикали(вся, 100%)*/
		background-position: center top;	
	}
}
													/*Carta(карта)*/
.carta{
	width:1366px;
	height:737px;
	max-height:1274px;                              /*  предел высоты при масштабировании*/
	max-width:2362px;                               /*  предел ширины при масштабировании*/
	/**/background: url("../image/unnamed.jpg");       /*  фон-картинка*/
	background-repeat: no-repeat;                   /*  фон-картинка не повторяется*/ 
	background-size: 100% auto;                     /*  фон-картинка подгоняется по размерам к блоку*/
	background-position: left  top;                 /*  фон-картинка упирается в левый верхний угол*/
}

													/*РЕКИ*/
.Печора{
	width:405px;
	height:337px;
	background: url("../image/Печора.png");                                                    /*  фон-картинка*/
	clip-path: polygon(86% 100%,88.6% 76%,94.2% 65.9%,100% 65.9%,100% 68.8%,93% 100%);    /* выделяем область, которая будет активироваться при наведении мыши и клике*/
}
.Мезень{
	width:578px;
	height:289px;
	background: url("../image/Мезень.png");
	clip-path: polygon(53.8% 94.4%,53.8% 71.6%,58.2% 71.6%,57.2% 80.6%,58.7% 88.6%,59.1% 94.2%);
}
.Урал{
	width:578px;
	height:578px;
	background: url("../image/Урал.png");
	clip-path: polygon(35% 75%,45.5% 78.2%,52.6% 72.3%,56.4% 76.8%,45.6% 88.6%,37.2% 82%,27.3% 90.6%,23% 86.6%);
}
.Тобол{
	width:578px;
	height:578px;
	background: url("../image/Тобол.png");
	clip-path: polygon(48% 84%,68% 72%,72% 76%,52% 88%);
}
.Обь{
	width:578px;
	height:578px;
	background: url("../image/Обь.png");
	clip-path: polygon(84% 100%,83% 93%,88% 86%,82% 74%,70% 68%,70% 57%,78% 48%,86% 51%,85% 56%,80% 55%,78% 65%,89% 69%,97% 86%,94% 100%);
}
.Иртыш{
	width:1156px;
	height:723px;
	background: url("../image/Иртыш.png");
	clip-path: polygon(48.5% 94.4%,41% 89.6%,36% 68%,37.5% 64%,34.5% 60%,37% 52.8%,38.5% 55.2%,40.5% 80%,50% 92%);
}
.Ишим{
	width:578px;
	height:578px;
	background: url("../image/Ишим.png");
	clip-path: polygon(66% 99%,56% 96%,56% 88%,73% 76%,73% 83%,66% 88%,69% 94%);
}
.Волга{
	width:578px;
	height:578px;
	background: url("../image/Волга.png");
	clip-path: polygon(17% 85%,19% 73%,38% 64%,32% 49%,25% 46%,25% 40%,36% 43%,45% 69%,23% 75%,22% 85%);
}
.Дон{
	width:578px;
	height:578px;
	background: url("../image/Дон.png");
	clip-path: polygon(12% 73%,6% 68%,10% 65%,14% 66%,18% 56%,25% 53%,26% 55%,22% 64%,22% 71%,20% 73%);
}
.Ока{
	width:578px;
	height:578px;
	background: url("../image/Ока.png");
	clip-path: polygon(16% 52%,24% 49%,30% 55%,36% 56.5%,36% 57.2%,27% 58%,26% 54%,17% 54%);
}
.Кама{
	width:578px;
	height:578px;
	background: url("../image/Кама.png");
	clip-path: polygon(48% 70%,42% 68%,42% 66%,47% 67%,52% 58%,58% 58%,60% 62%,55% 69%);
}
.Вятка{
	width:578px;
	height:578px;
	background: url("../image/Вятка.png");
	clip-path: polygon(42% 67%,43% 57%,51% 58%,50% 64%,44% 67%);
}
.Москва{
	width:578px;
	height:578px;
	background: url("../image/Москва.png");
	clip-path: polygon(27% 53.5%,26% 50.5%,23% 47%,25% 47%,27.9% 49%,28% 54%);
}
.Северная_Двина{
	width:578px;
	height:578px;
	background: url("../image/Северная Двина.png");
	clip-path: polygon(48% 49%,47% 40%,50% 34%,52% 34%,52% 40%,49.5% 49%);
}
.Сухона{
	width:578px;
	height:578px;
	background: url("../image/Сухона.png");
	clip-path: polygon(38% 49%,37% 42%,40% 43%,42% 47%,49% 49%,49% 50%,48% 50.3%);
}
.Вычегда{
	width:578px;
	height:578px;
	background: url("../image/Вычегда.png");
	clip-path: polygon(59% 57%,48.8% 49.5%,48.8% 48.5%,54% 49%,61% 53%,61% 55%);
}
.Клязьма{
	width:578px;
	height:578px;
	background: url("../image/Клязьма.png");
	clip-path: polygon(33.5% 56%,31.5% 55%,29% 52%,27.7% 49.2%,29% 48.3%,33.3% 51%,34% 54%);
}
.Вах{
	width:578px;
	height:578px;
	background: url("../image/Вах.png");
	clip-path: polygon(85% 72%,85% 70%,99% 73%,99% 76%);
}
.Западная_Двина{
	width:578px;
	height:578px;
	background: url("../image/Западная Двина.png");
	clip-path: polygon(17% 43%,17% 28%,20% 28%,20% 40%,26% 40%,24% 43%);
}
.Ахтуба{
	width:578px;
	height:578px;
	background: url("../image/Ахтуба.png");
	clip-path: polygon(21.8% 85.3%,21.8% 77%,21% 74%,21% 73%,22% 73%,23% 75%,24% 85.3%);
}
.Юг{
	width:578px;
	height:578px;
	background: url("../image/Юг.png");
	clip-path: polygon(43% 53%,42% 50.5%,47% 49.6%,48% 49.6%,48% 52%);
}
.Нева{
	width:578px;
	height:578px;
	background: url("../image/Нева.png");
	clip-path: polygon(31% 37%,28% 33%,30% 32%,33% 35%);
}
.Свирь{
	width:578px;
	height:578px;
	background: url("../image/Свирь.png");
	clip-path: polygon(38% 40%,33% 36%,35% 33%,40% 37%);
}
.Бия{
	width:578px;
	height:723px;
	background: url("../image/Бия.png");
	clip-path: polygon(95% 86.2%,93.3% 80.1%,91.5% 79.6%,91% 78.4%,95% 78%,100% 84%,100% 86.2%);
}
.Катунь{
	width:578px;
	height:723px;
	background: url("../image/Катунь.png");
	clip-path: polygon(89.5% 87%,90% 80.4%,91% 79.6%,92% 79.6%,93% 80.4%,94% 87.2%);
}
.Тура{
	width:578px;
	height:578px;
	background: url("../image/Тура.png");
	clip-path: polygon(65% 76.6%,57% 68%,60% 66%,67% 74%,67.2% 76.3%);
}
.Чулым{
	width:723px;
	height:578px;
	background: url("../image/Чулым.png");
	clip-path: polygon(77.8% 95%,78.6% 91%,74% 83.5%,75.5% 83%,78.4% 85%,83.1% 85%,84.1% 93%,79.2% 98%);
}
.Северная_Сосьва{
	width:578px;
	height:578px;
	background: url("../image/Северная Сосьва.png");
	clip-path: polygon(64.8% 59%,64.8% 57.7%,70% 55%,75.5% 57%,75.5% 57.4%,71% 60%);
}
.Онега{
	width:578px;
	height:578px;
	background: url("../image/Онега.png");
	clip-path: polygon(40% 40%,46% 32%,49% 35%,45% 42%,41% 42%);
}
.Енисей{
	width:1156px;
	height:723px;
	background: url("../image/Енисей.png");
	clip-path: polygon(51% 84.8%,51% 75%,52.5% 74.2%,52.4% 72.5%,53.4% 71.5%,49% 53.6%,49% 37%,52.5% 37%,52.5% 54.4%,55.5% 72.8%,53% 76.8%,54.5% 81.6%,54.5% 84.8%);
}
.Нижняя_Тунгуска{
	width:1156px;
	height:578px;
	background: url("../image/Нижняя Тунгуска.png");
	clip-path: polygon(63% 87%,63% 83%,64% 82%,63% 72%,58% 72%,52.5% 66%,51.5% 61.4%,53% 59%,54% 64%,62.5% 67%,65.5% 70%,66% 83%,65% 87%);
}
.Подкаменная_Тунгуска{
	width:1156px;
	height:578px;
	background: url("../image/Подкаменная Тунгуска.png");
	clip-path: polygon(62% 88%,61.5% 83%,53% 77%,51.8% 74.2%,53% 72%,56% 72%,58% 76%,60% 76%,63% 81%,63% 88%);
}
.Ангара{
	width:1156px;
	height:723px;
	background: url("../image/Ангара.png");
	clip-path: polygon(62% 84.8%,58% 70.4%,55% 70.4%,53.3% 68.1%,55% 66%,61% 65.8%,61.5% 66.8%,64% 84.8%);
}
.Селенга{
	width:1156px;
	height:723px;
	background: url("../image/Селенга.png");
	clip-path: polygon(56% 94.4%,55% 90.4%,64% 84.8%,64% 81%,66% 81%,66% 88%);
}
.Хатнга{
	width:1156px;
	height:578px;
	background: url("../image/Хатнга.png");
	clip-path: polygon(59% 48%,58% 45%,61% 41%,63% 43%);
}
.Оленек{
	width:1156px;
	height:578px;
	background: url("../image/Оленек.png");
	clip-path: polygon(62% 60%,61.5% 58%,68% 44%,67% 39%,68% 38.4%,70% 39.7%,71% 42%,71% 46%,69% 59%);
}
.Лена{
	width:1156px;
	height:578px;
	background: url("../image/Лена.png");
	clip-path: polygon(64% 100%,62.7% 98%,62.7% 88.2%,64.8% 86.7%,66.1% 83.5%,66.3% 80.2%,69% 73%,72% 74%,73% 70%,76% 67%,75.7% 61.2%,73% 61.2%,71.5% 60%,70.2% 52%,71.2% 46%,71.2% 41%,69.3% 39%,69.5% 34%,74% 34%,74% 54%,79.3% 61.6%,80.3% 63.6%,80% 69%,73% 80%,68.2% 83.8%,65% 92%,66.2% 96%,66.2% 97%);
}
.Алдан{
	width:1156px;
	height:578px;
	background: url("../image/Алдан.png");
	clip-path: polygon(76% 86%,76% 75%,81% 71%,81% 64%,78% 62%,78% 58%,85% 58%,85% 75%,79% 80%,79% 86%);
}
.Витим{
	width:1156px;
	height:578px;
	background: url("../image/Витим.png");
	clip-path: polygon(68% 100%,67.5% 95%,70% 90%,68% 86%,68.1% 81%,68.3% 80.5%,73% 82%,75% 92%,71% 100%);
}
.Вилюй{
	width:1156px;
	height:578px;
	background: url("../image/Вилюй.png");
	clip-path: polygon(66% 74%,65% 70%,64% 68%,64% 67.5%,60% 65%,60% 61%,66% 62%,66% 66%,70% 66%,72% 61.5%,75.1% 61.4%,75.6% 60.8%,75.7% 60.4%,76% 66%,71% 74%);
}
.Яна{
	width:1156px;
	height:578px;
	background: url("../image/Яна.png");
	clip-path: polygon(77% 51%,74% 36%,78% 37%,80% 51%);
}
.Колыма{
	width:1156px;
	height:578px;
	background: url("../image/Колыма.png");
	clip-path: polygon(88.5% 57%,88% 55%,89% 46%,86% 43%,86% 23%,90% 23%,90% 38%,92% 38%,93% 46%,91% 57%);
}
.Индигирка{
	width:1156px;
	height:578px;
	background: url("../image/Индигирка.png");
	clip-path: polygon(84% 55.5%,81% 46%,81% 27%,84% 27%,85% 44%,88.4% 51.4%,88% 55.0%);
}
.Анадырь{
	width:1156px;
	height:578px;
	background: url("../image/Анадырь.png");
	clip-path: polygon(95% 29%,94% 19%,100% 16%,100% 22%,98% 29%);
}
.Амур{
	width:1156px;
	height:723px;
	background: url("../image/Амур.png");
	clip-path: polygon(85% 84%,80% 76%,77% 76.8%,77% 73.6%,81% 71.2%,89% 78.4%,91% 62.4%,95% 62.4%,94% 75.2%,91% 84.8%);
}
.Аргунь{
	width:1156px;
	height:723px;
	background: url("../image/Аргунь.png");
	clip-path: polygon(75% 86.4%,76% 80.7%,76.2% 76.4%,76.8% 75.4%,77.6% 74.8%,78% 76.4%,78% 86.4%);
}
.Шилка{
	width:1156px;
	height:723px;
	background: url("../image/Шилка.png");
	clip-path: polygon(73% 83.2%,71% 81%,76% 73%,77.3% 73%,77.5% 74.7%,77.5% 75.0%,76.3% 75.8%,76.0% 76.8%,76.1% 79.8%);
}
.Зея{
	width:1156px;
	height:578px;
	background: url("../image/Зея.png");
	clip-path: polygon(84.3% 99.2%,83.3% 94%,81.5% 91%,80.5% 88%,81% 84%,84% 84%,86% 93%,85.5% 97.2%,84.5% 99.2%);
}
.Уссури{
	width:1156px;
	height:723px;
	background: url("../image/Уссури.png");
	clip-path: polygon(93% 90.4%,91% 85%,91.5% 78.5%,91.6% 78.4%,94% 79.2%,95% 90.4%);
}
.Бурея{
	width:1156px;
	height:578px;
	background: url("../image/Бурея.png");
	clip-path: polygon(86.6% 100%,86.4% 100%,85.5% 97.5%,88% 88%,90% 88%,87.5% 98.5%);
}
.Онежское{
	width:289px;
	height:289px;
	background: url("../image/Онежское.png");
	clip-path: polygon(74% 78%,74% 75.6%,76% 75.6%,76% 66%,84% 66%,84% 70%,80% 78%);
}
.Ладожское{
	width:289px;
	height:289px;
	background: url("../image/Ладожское.png");
	clip-path: polygon(61.6% 71%,66% 61%,72% 61%,72% 70%,70% 71.2%,68% 71.2%,68% 74%);
}
.Имандра{
	width:318px;
	height:145px;
	background: url("../image/Имандра.png");
	clip-path: polygon(92.7% 100%,89.1% 92%,91.8% 84%,100% 90%);
}
.Ильмень{
	width:289px;
	height:289px;
	background: url("../image/Ильмень.png");
	clip-path: polygon(51% 75%,55% 72%,59% 75%,55% 78%);
}
.Селигер{
	width:289px;
	height:289px;
	background: url("../image/Селигер.png");
	clip-path: polygon(51.8% 83.4%,53.4% 80%,62% 84%,58% 88%);
}
.Чудское{
	width:289px;
	height:289px;
	background: url("../image/Чудское.png");
	clip-path: polygon(47% 64%,50% 60%,55% 64%,50% 67%);
}
.Эльтон{
	width:151px;
	height:578px;
	background: url("../image/Эльтон.png");
	clip-path: polygon(90% 77.5%,90% 74%,100% 73.5%,100% 78%);
}
.Баскунчак{
	width:145px;
	height:578px;
	background: url("../image/Баскунчак.png");
	clip-path: polygon(88.8% 78.5%,90% 76.6%,96% 76.6%,96% 79.4%);
}
.Чаны{
	width:578px;
	height:578px;
	background: url("../image/Чаны.png");
	clip-path: polygon(79% 92%,79% 88%,83% 88%,83% 92%);
}
.Телецкое{
	width:578px;
	height:607px;
	background: url("../image/Телецкое.png");
	clip-path: polygon(93.5% 99%,93.5% 97.3%,98.5% 97.3%,98.5% 99%);
}
.Таймыр{
	width:723px;
	height:289px;
	background: url("../image/Таймыр.png");
	clip-path: polygon(95.2% 82%,92.8% 76%,94.4% 68%,100% 68%,100% 76%);
}
.Байкал{
	width:867px;
	height:723px;
	background: url("../image/Байкал.png");
	clip-path: polygon(82.27% 84.24%,82.66% 82.4%,84.26% 83.04%,84.53% 82.8%,84.8% 80.8%,87.6% 77.84%,88% 77.6%,88.01% 76.72%,87.73% 76%,88.67% 72%,90% 72%,90% 80%,86.8% 81.92%,86.67% 81.76%,86.3% 81.92%,86.67% 83.2%,84.33% 85.2%);
}

.Печора,.Мезень,.Урал,.Тобол,.Обь,.Иртыш,.Ишим,.Волга,.Дон,.Ока,.Кама,.Вятка,.Москва,.Северная_Двина,.Сухона,.Вычегда,.Клязьма,
.Вах,.Западная_Двина,.Ахтуба,.Юг,.Нева,.Свирь,.Бия,.Катунь,.Тура,.Чулым,.Северная_Сосьва,.Онега,.Енисей,.Нижняя_Тунгуска,
.Подкаменная_Тунгуска,.Ангара,.Селенга,.Хатнга,.Оленек,.Лена,.Алдан,.Витим,.Вилюй,.Яна,.Индигирка,.Колыма,.Анадырь,.Амур,.Аргунь,
.Шилка,.Зея,.Уссури,.Бурея,.Онежское,.Ладожское,.Имандра,.Ильмень,.Селигер,.Чудское,.Эльтон,.Баскунчак,.Чаны,.Телецкое,.Таймыр,.Байкал {
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: left top;	
	/*transition: 0.6s;*/
	position:absolute;                        /*  позиция фиксируется, другие блоки уже не обтекают его, они его не видят*/
} 
/**/.Печора:hover,.Мезень:hover,.Урал:hover,.Тобол:hover,.Обь:hover,.Иртыш:hover,.Ишим:hover,.Волга:hover,.Дон:hover,.Ока:hover,.Кама:hover,
.Вятка:hover,.Москва:hover,.Северная_Двина:hover,.Сухона:hover,.Вычегда:hover,.Клязьма:hover,.Вах:hover,.Западная_Двина:hover,.Ахтуба:hover,
.Юг:hover,.Нева:hover,.Свирь:hover,.Бия:hover,.Катунь:hover,.Тура:hover,.Чулым:hover,.Северная_Сосьва:hover,.Онега:hover,.Енисей:hover,
.Нижняя_Тунгуска:hover,.Подкаменная_Тунгуска:hover,.Ангара:hover,.Селенга:hover,.Хатнга:hover,.Оленек:hover,.Лена:hover,.Алдан:hover,
.Витим:hover,.Вилюй:hover,.Яна:hover,.Колыма:hover,.Индигирка:hover,.Анадырь:hover,.Амур:hover,.Аргунь:hover,.Шилка:hover,.Зея:hover,
.Уссури:hover,.Бурея:hover,.Онежское:hover,.Ладожское:hover,.Имандра:hover,.Ильмень:hover,.Селигер:hover,.Чудское:hover,.Эльтон:hover,
.Баскунчак:hover,.Чаны:hover,.Телецкое:hover,.Таймыр:hover,.Байкал:hover
	{filter: drop-shadow( 0 0px 5px black);}      /*  подсвечивание речки при наведении*/