body{
	background: url("../image/Заставка.png");       /*  фон-картинка*/
	background-repeat: no-repeat;                   /*  фон-картинка не повторяется*/ 
	background-size: 100% auto;                     /*  фон-картинка подгоняется по размерам к блоку*/
	background-position: left  top;                 /*  фон-картинка упирается в левый верхний угол*/
}

a:link{text-decoration:none;                        /* Делает ссылку голубой */
color: #28ffd5;}
a:visited { text-decoration: none;                  /* Делает ссылку голубой */
color: #28ffd5; } 
a:active {
text-decoration: none;
color: white;                                       /* Делает ссылку белой при нажатии */
}
a:hover {text-decoration: underline;}               /* Делает ссылку подчеркнутой при наведении на нее курсора */

.otstup {
width:100%;
height:20px;
}

.zagolovok{
		width:80%;
		height:12%;
		margin-left:10%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:50px;                                /* размер шрифта */
		text-align: center;
}

.text{
		width:40%;
		height:20%;
		margin-left:25%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: expanded;                  /* жирность(очень) */
		font-size:30px;                                /* размер шрифта */
		text-indent: 5%;                               /* Красная строка,отступ слева */
		text-align:justify;                            /* выравнивание по ширине (одновременно по правому и левому краю) */
}

.Реки{
		width:70%;
		height:12%;
		margin-left:5%;                               /* отступ блока от левого края */
		margin-right:25%;                               /* отступ блока от левого края */
		margin-bottom:5%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:50px;                                /* размер шрифта */
		text-indent: 2%;                              /* Красная строка,отступ слева */
		transition:0.8s;                               /* время срабатывания анимации */	
}
.Реки:hover{
		width:70%;
		height:12%;
		margin-left:5%;                        
		margin-right:25%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:55px;                                /* размер шрифта */
		text-indent: 1%;                              /* Красная строка,отступ слева */
}

@media screen and (min-width:2000px) and (max-width:8000px) {
.zagolovok{
		width:80%;
		height:12%;
		margin-left:10%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:100px;                                /* размер шрифта */
		text-align: center;
}

.otstup {
width:100%;
height:40px;
}

.text{
		width:40%;
		height:20%;
		margin-left:25%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: expanded;                  /* жирность(очень) */
		font-size:60px;                                /* размер шрифта */
		text-indent: 5%;                               /* Красная строка,отступ слева */
		text-align:justify;                            /* выравнивание по ширине (одновременно по правому и левому краю) */
}

.Реки{
		width:70%;
		height:12%;
		margin-left:5%;                               /* отступ блока от левого края */
		margin-right:25%;                               /* отступ блока от левого края */
		margin-bottom:5%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:100px;                                /* размер шрифта */
		text-indent: 2%;                              /* Красная строка,отступ слева */
		transition:0.8s;                               /* время срабатывания анимации */	
}
.Реки:hover{
		width:70%;
		height:12%;
		margin-left:5%;                        
		margin-right:25%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:110px;                                /* размер шрифта */
		text-indent: 1%;                              /* Красная строка,отступ слева */
}
}


@media screen and (min-width:600px) and (max-width:1024px) {
.zagolovok{
		width:80%;
		height:12%;
		margin-left:10%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:25px;                                /* размер шрифта */
		text-align: center;
}

.otstup {
width:100%;
height:10px;
}

.text{
		width:40%;
		height:20%;
		margin-left:25%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: expanded;                  /* жирность(очень) */
		font-size:15px;                                /* размер шрифта */
		text-indent: 5%;                               /* Красная строка,отступ слева */
		text-align:justify;                            /* выравнивание по ширине (одновременно по правому и левому краю) */
}

.Реки{
		width:70%;
		height:12%;
		margin-left:5%;                               /* отступ блока от левого края */
		margin-right:25%;                               /* отступ блока от левого края */
		margin-bottom:5%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:25px;                                /* размер шрифта */
		text-indent: 2%;                              /* Красная строка,отступ слева */
		transition:0.8s;                               /* время срабатывания анимации */	
}
.Реки:hover{
		width:70%;
		height:12%;
		margin-left:5%;                        
		margin-right:25%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:27px;                                /* размер шрифта */
		text-indent: 1%;                              /* Красная строка,отступ слева */
}
}
@media screen and (min-width:200px) and (max-width:600px) {
.zagolovok{
		width:80%;
		height:12%;
		margin-left:10%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:12px;                                /* размер шрифта */
		text-align: center;
}

.otstup {
width:100%;
height:5px;
}

.text{
		width:40%;
		height:25%;
		margin-left:25%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: expanded;                  /* жирность(очень) */
		font-size:8px;                                /* размер шрифта */
		text-indent: 5%;                               /* Красная строка,отступ слева */
		text-align:justify;                            /* выравнивание по ширине (одновременно по правому и левому краю) */
}

.Реки{
		width:70%;
		height:12%;
		margin-left:5%;                               /* отступ блока от левого края */
		margin-right:25%;                               /* отступ блока от левого края */
		margin-bottom:5%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:12px;                                /* размер шрифта */
		text-indent: 2%;                              /* Красная строка,отступ слева */
		transition:0.8s;                               /* время срабатывания анимации */	
}
.Реки:hover{
		width:70%;
		height:12%;
		margin-left:5%;                        
		margin-right:25%;                               /* отступ блока от левого края */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:13px;                                /* размер шрифта */
		text-indent: 1%;                              /* Красная строка,отступ слева */
}	
}