body{
	margin:0;                                     /* Отступ 0px */
	background:green;                             /* проверка */
}

#boody{
	background:green;                             /*  фон красный  */
	height:auto;                                  /*  высота 1500px */
	max-width:2362px;                             /*  предел ширины при масштабировании 2362px */
	width:100%;                                   /* проверка */
	/*width:1366px;                                 /* проверка */
}
													/*head(Заголовок и кнопки)*/
.hhead{
	height:20px;                                  /* проверка */
	width:100%;                                   /* проверка */
	background:green;                             /* проверка */
}

.head{
	height:200px;
	width:100%;
	background:green;                              /* цвет фона */
}

.Старт{
	background-color:#1a9bdc;                      /* цвет фона */
	width:80%;
	height:90%;
	max-width: 1000px;
	margin-left:10%;                               /* отступ блока от левого края */
	border-radius: 10px;                           /* радиус закруглений на углах блока*/
	line-height:175px;                             /* межстрочное расстояние, отступ сверху */
	color: white;                                  /* цвет шрифта */
	font-stretch: ultra-expanded;                  /* жирность(очень) */
	font-size:100px;                               /* размер шрифта */
	/*text-indent: 350px;                          /* Красная строка,отступ слева */
	text-indent: 30%;                              /* Красная строка,отступ слева */
	transition:0.8s;                               /* время срабатывания анимации */
}
.Старт:hover {
	box-shadow: 0 0px 8px black;                   /* появление тени */
	font-weight:500;                               /* жирность шрифта увеличивается*/ 
	font-size:105px;                               /* размер шрифта */
	text-indent: 340px;                            /* Красная строка,отступ слева */
	border-radius: 90px;                           /* радиус закруглений на углах блока*/
}
													/*Kvest(вопрос)*/
.Kvest{
	position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
	width:70%;                                      /*  ширина*/
	margin-left:15%;                                /*  отступ слева*/
	height:100px;                                   /*  высота*/
	top:10px;                                       /*  отступ сверху */
	background-color:#1a9bdc;                       /*  цвет фона */
	border-radius: 10px;                            /*  радиус закруглений на углах блока*/
	line-height:85px;                               /*  межстрочное расстояние, отступ сверху */
	border: 3px solid black;                        /*  задаём свойства рамки*/
	color: white;                                   /*  цвет шрифта */
	font-stretch: ultra-expanded;                   /*  жирность(очень) */
	font-size:50px;                                 /*  размер шрифта */
	text-align:center;                              /*  текст ориентируется по центру */
}

.Yes{background-color:green;}                   /*  цвет фона */

.No{background-color:red;}                      /*  цвет фона */

.KvestX{
	position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
	width:10%;                                      /*  ширина*/
	margin-left:87.5%;                              /*  отступ слева*/
	height:100px;                                   /*  высота*/
	top:10px;                                       /*  отступ сверху */
	background-color:#1a9bdc;                       /*  цвет фона */
	border-radius: 10px;                            /*  радиус закруглений на углах блока*/
	line-height:85px;                               /*  межстрочное расстояние, отступ сверху */
	border: 3px solid black;                        /*  задаём свойства рамки*/
	background: url("../image/Закрыть.png");        /*  фон-картинка*/
	background-repeat: no-repeat;                   /*  фон-картинка не повторяется*/
	background-size: auto 102%;                     /*  Размеры по горизонтали(сколько нужно,auto) и вертикали(вся, 100%)*/
	background-position: center top;                /*  текст ориентируется по центру и сверху*/
}

.Заново{
	position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
	width:10%;                                      /*  ширина*/
	margin-left:2.5%;                               /*  отступ слева*/
	height:100px;                                   /*  высота*/
	top:10px;                                       /*  отступ сверху */
	background-color:#1a9bdc;                       /*  цвет фона */
	border-radius: 10px;                            /*  радиус закруглений на углах блока*/
	border: 3px solid black;                        /*  задаём свойства рамки*/
	background: url("../image/Заново.png");            /*  фон-картинка*/
	background-repeat: no-repeat; 
	background-size: auto 102%;                     /*  Размеры по горизонтали(сколько нужно,auto) и вертикали(вся, 100%)*/
	background-position: center top;	
}

													/*Адаптивность*/

@media screen and (min-width:600px) and (max-width:1024px) {
	.hhead{
		height:10px;                                  /* проверка */
		width:auto;                                   /* проверка */
		background:green;                             /* проверка */
	}

	.head{
		height:100px;
		width:auto;
		background:green;                              /* цвет фона */
	}

	.Старт{
		background-color:#1a9bdc;                      /* цвет фона */
		width:80%;
		height:90%;
		margin-left:10%;                               /* отступ блока от левого края */
		border-radius: 5px;                           /* радиус закруглений на углах блока*/
		line-height:90px;                             /* межстрочное расстояние, отступ сверху */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:50px;                               /* размер шрифта */
		/*text-indent: 350px;                            /* Красная строка,отступ слева */
		text-indent: 37%;                            /* Красная строка,отступ слева */
		transition:0.8s;                               /* время срабатывания анимации */
	}
	.Старт:hover {
		box-shadow: 0 0px 8px black;                   /* появление тени */
		font-weight:500;                               /* жирность шрифта увеличивается*/ 
		font-size:55px;                               /* размер шрифта */
		text-indent: 35%;                            /* Красная строка,отступ слева */
		border-radius: 45px;                           /* радиус закруглений на углах блока*/
	}
														/*Kvest(вопрос)*/
	.Kvest{
		position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
		width:70%;                                      /*  ширина*/
		margin-left:15%;                                /*  отступ слева*/
		height:50px;                                   /*  высота*/
		top:5px;                                       /*  отступ сверху */
		background-color:#1a9bdc;                       /*  цвет фона */
		border-radius: 5px;                            /*  радиус закруглений на углах блока*/
		line-height:42px;                               /*  межстрочное расстояние, отступ сверху */
		border: 2px solid black;                        /*  задаём свойства рамки*/
		color: white;                                   /*  цвет шрифта */
		font-stretch: ultra-expanded;                   /*  жирность(очень) */
		font-size:25px;                                 /*  размер шрифта */
		text-align:center;                              /*  текст ориентируется по центру */
	}

	.Yes{background-color:green;}                   /*  цвет фона */

	.No{background-color:red;}                      /*  цвет фона */

	.KvestX{
		position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
		width:10%;                                      /*  ширина*/
		margin-left:87.5%;                              /*  отступ слева*/
		height:50px;                                   /*  высота*/
		top:5px;                                       /*  отступ сверху */
		background-color:#1a9bdc;                       /*  цвет фона */
		border-radius: 5px;                            /*  радиус закруглений на углах блока*/
		line-height:42px;                               /*  межстрочное расстояние, отступ сверху */
		border: 2px solid black;                        /*  задаём свойства рамки*/
		background: url("../image/Закрыть.png");           /*  фон-картинка*/
		background-repeat: no-repeat;                   /*  фон-картинка не повторяется*/
		background-size: auto 102%;                     /*  Размеры по горизонтали(сколько нужно,auto) и вертикали(вся, 100%)*/
		background-position: center top;                /*  текст ориентируется по центру и сверху*/
	}

	.Заново{
		position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
		width:10%;                                      /*  ширина*/
		margin-left:2.5%;                               /*  отступ слева*/
		height:50px;                                   /*  высота*/
		top:5px;                                       /*  отступ сверху */
		background-color:#1a9bdc;                       /*  цвет фона */
		border-radius: 5px;                            /*  радиус закруглений на углах блока*/
		border: 2px solid black;                        /*  задаём свойства рамки*/
		background: url("../image/Заново.png");            /*  фон-картинка*/
		background-repeat: no-repeat; 
		background-size: auto 102%;                     /*  Размеры по горизонтали(сколько нужно,auto) и вертикали(вся, 100%)*/
		background-position: center top;	
	}
}

@media screen and (min-width:200px) and (max-width:600px) {
	.hhead{
		height:5px;                                  /* проверка */
		width:auto;                                   /* проверка */
		background:green;                             /* проверка */
	}

	.head{
		height:50px;
		width:auto;
		background:green;                              /* цвет фона */
	}

	.Старт{
		background-color:#1a9bdc;                      /* цвет фона */
		width:80%;
		height:90%;
		margin-left:10%;                               /* отступ блока от левого края */
		border-radius: 2px;                           /* радиус закруглений на углах блока*/
		line-height:45px;                             /* межстрочное расстояние, отступ сверху */
		color: white;                                  /* цвет шрифта */
		font-stretch: ultra-expanded;                  /* жирность(очень) */
		font-size:25px;                               /* размер шрифта */
		/*text-indent: 350px;                            /* Красная строка,отступ слева */
		text-indent: 37%;                            /* Красная строка,отступ слева */
		transition:0.8s;                               /* время срабатывания анимации */
	}
		.Старт:hover {
		box-shadow: 0 0px 8px black;                   /* появление тени */
		font-weight:500;                               /* жирность шрифта увеличивается*/ 
		font-size:27px;                               /* размер шрифта */
		text-indent: 35%;                            /* Красная строка,отступ слева */
		border-radius: 22px;                           /* радиус закруглений на углах блока*/
	}
														/*Kvest(вопрос)*/
	.Kvest{
		position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
		width:70%;                                      /*  ширина*/
		margin-left:15%;                                /*  отступ слева*/
		height:25px;                                   /*  высота*/
		top:2px;                                       /*  отступ сверху */
		background-color:#1a9bdc;                       /*  цвет фона */
		border-radius: 2px;                            /*  радиус закруглений на углах блока*/
		line-height:21px;                               /*  межстрочное расстояние, отступ сверху */
		border: 1px solid black;                        /*  задаём свойства рамки*/
		color: white;                                   /*  цвет шрифта */
		font-stretch: ultra-expanded;                   /*  жирность(очень) */
		font-size:12px;                                 /*  размер шрифта */
		text-align:center;                              /*  текст ориентируется по центру */
	}

	.Yes{background-color:green;}                   /*  цвет фона */

	.No{background-color:red;}                      /*  цвет фона */

	.KvestX{
		position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
		width:10%;                                      /*  ширина*/
		margin-left:87.5%;                              /*  отступ слева*/
		height:25px;                                   /*  высота*/
		top:2px;                                       /*  отступ сверху */
		background-color:#1a9bdc;                       /*  цвет фона */
		border-radius: 2px;                            /*  радиус закруглений на углах блока*/
		line-height:21px;                               /*  межстрочное расстояние, отступ сверху */
		border: 1px solid black;                        /*  задаём свойства рамки*/
		background: url("../image/Закрыть.png");           /*  фон-картинка*/
		background-repeat: no-repeat;                   /*  фон-картинка не повторяется*/
		background-size: auto 102%;                     /*  Размеры по горизонтали(сколько нужно,auto) и вертикали(вся, 100%)*/
		background-position: center top;                /*  текст ориентируется по центру и сверху*/
	}

	.Заново{
		position:fixed;                                 /*  фиксируется на экране пользователя, не перемещается*/
		width:10%;                                      /*  ширина*/
		margin-left:2.5%;                               /*  отступ слева*/
		height:25px;                                   /*  высота*/
		top:2px;                                       /*  отступ сверху */
		background-color:#1a9bdc;                       /*  цвет фона */
		border-radius: 2px;                            /*  радиус закруглений на углах блока*/
		border: 1px solid black;                        /*  задаём свойства рамки*/
		background: url("../image/Заново.png");            /*  фон-картинка*/
		background-repeat: no-repeat; 
		background-size: auto 102%;                     /*  Размеры по горизонтали(сколько нужно,auto) и вертикали(вся, 100%)*/
		background-position: center top;	
	}
}
													/*Carta(карта)*/
.carta{
	width:1366px;
	height:737px;
	max-height:1274px;                              /*  предел высоты при масштабировании*/
	max-width:2362px;                               /*  предел ширины при масштабировании*/
	/**/background: url("../image/unnamed.jpg");       /*  фон-картинка*/
	background-repeat: no-repeat;                   /*  фон-картинка не повторяется*/ 
	background-size: 100% auto;                     /*  фон-картинка подгоняется по размерам к блоку*/
	background-position: left  top;                 /*  фон-картинка упирается в левый верхний угол*/
}

													/*РЕКИ*/
.Печора{
	width:405px;
	height:337px; 
	max-height:584px;                                                                       /*  предел высоты при масштабировании*/
	max-width:701px;                                                                        /*  предел ширины при масштабировании*/
	background: url("../image/Печора.png");                                                    /*  фон-картинка*/
	clip-path: polygon(83% 100%,88.6% 76%,94.2% 65.9%,100% 65.9%,100% 68.8%,94.2% 100%);    /* выделяем область, которая будет активироваться при наведении мыши и клике*/
}
.Мезень{
	width:578px;
	height:289px;
	max-height:500px;
	max-width:1000px;
	background: url("../image/Мезень.png");
	clip-path: polygon(53.8% 94.4%,53.8% 71.6%,58.2% 71.6%,57.2% 80.6%,58.7% 88.6%,59.1% 94.2%);
}
.Урал{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Урал.png");
	clip-path: polygon(35% 75%,45.5% 78.2%,52.6% 72.3%,56.4% 76.8%,45.6% 88.6%,37.2% 82%,27.3% 90.6%,23% 86.6%);
}
.Тобол{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Тобол.png");
	clip-path: polygon(44% 85%,70% 68%,76% 75%,51% 92%);
}
.Обь{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Обь.png");
	clip-path: polygon(84% 100%,83% 93%,88% 86%,82% 74%,70% 68%,70% 57%,78% 48%,86% 51%,85% 56%,80% 55%,78% 65%,89% 69%,97% 86%,94% 100%);
}
.Иртыш{
	width:578px;
	height:723px;
	max-height:1250px;
	max-width:1000px;
	background: url("../image/Иртыш.png");
	clip-path: polygon(97% 96%,81% 90.4%,81% 86.4%,75% 83.2%,70% 67.2%,72% 64.8%,66% 59.2%,74% 50.4%,79% 53.6%,76% 60%,83% 65.6%,85% 80%,100% 90.4%,100% 95.2%);
}
.Ишим{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Ишим.png");
	clip-path: polygon(66% 99%,56% 96%,51% 88%,67% 78%,69% 72%,76% 72%,76% 82%,66% 88%,69% 94%);
}
.Волга{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Волга.png");
	clip-path: polygon(16% 86%,17% 71%,35% 64%,33% 56%,33% 54%,31% 50%,25% 50%,22% 47%,23% 39%,28% 39%,30% 44%,33% 42%,37% 42%,40% 57%,46% 65%,46% 69%,41% 69%,40% 72%,24% 75%,23% 87%);
}
.Дон{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Дон.png");
	clip-path: polygon(12% 74%,6% 68%,10% 65%,14% 66%,18% 56%,26% 51%,29% 55%,22% 64%,24% 74%);
}
.Ока{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Ока.png");
	clip-path: polygon(14% 52%,24% 46%,31% 54%,38% 54%,38% 59%,26% 59%,23% 55%,17% 57%);
}
.Кама{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Кама.png");
	clip-path: polygon(43% 71%,40% 64%,48% 64%,50% 56%,58% 56%,62% 62%,55% 69%);
}
.Вятка{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Вятка.png");
	clip-path: polygon(40% 69%,42% 56%,53% 56%,52% 64%,45% 69%);
}
.Москва{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Москва.png");
	clip-path: polygon(26% 54%,23% 47%,25% 45%,30% 50%,30% 54%);
}
.Северная_Двина{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Северная Двина.png");
	clip-path: polygon(47% 51%,47% 33%,52% 33%,52% 51%);
}
.Сухона{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Сухона.png");
	clip-path: polygon(36% 49%,35% 42%,40% 41%,42% 45%,51% 47%,51% 52%);
}
.Вычегда{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Вычегда.png");
	clip-path: polygon(59% 59%,45% 50%,51% 44%,64% 54%);
}
.Клязьма{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Клязьма.png");
	clip-path: polygon(33% 59%,27% 52%,27% 47%,29% 46%,37% 56%);
}
.Вах{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Вах.png");
	clip-path: polygon(82% 74%,83% 68%,100% 72%,100% 77%);
}
.Западная_Двина{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Западная Двина.png");
	clip-path: polygon(15% 44%,15% 28%,21% 28%,21% 39%,26% 39%,26% 44%);
}
.Ахтуба{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Ахтуба.png");
	clip-path: polygon(21% 86%,20% 72%,25% 72%,25% 86%);
}
.Юг{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Юг.png");
	clip-path: polygon(43% 54%,41% 51%,48% 47%,50% 51%);
}
.Нева{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Нева.png");
	clip-path: polygon(31% 38%,27% 33%,30% 31%,35% 35%);
}
.Свирь{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Свирь.png");
	clip-path: polygon(38% 41%,31% 36%,34% 32%,41% 37%);
}
.Бия{
	width:578px;
	height:723px;
	max-height:1250px;
	max-width:1000px;
	background: url("../image/Бия.png");
	clip-path: polygon(95% 87.2%,93% 80.8%,90% 80.8%,90% 78.4%,95% 76.8%,100% 84%,100% 87.2%);
}
.Катунь{
	width:578px;
	height:723px;
	max-height:1250px;
	max-width:1000px;
	background: url("../image/Катунь.png");
	clip-path: polygon(89% 87.2%,89% 78.4%,94% 78.4%,94% 87.2%);
}
.Тура{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Тура.png");
	clip-path: polygon(67% 80%,54% 68%,60% 63%,72% 76%);
}
.Чулым{
	width:723px;
	height:578px;
	max-height:1000px;
	max-width:1250px;
	background: url("../image/Чулым.png");
	clip-path: polygon(76.8% 97%,77.6% 91%,72% 84%,75.2% 81%,78.4% 84%,84.8% 84%,85.6% 92%,79.2% 99%);
}
.Северная_Сосьва{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Северная Сосьва.png");
	clip-path: polygon(63% 61%,63% 55%,76% 55%,76% 61%);
}
.Онега{
	width:578px;
	height:578px;
	max-height:1000px;
	max-width:1000px;
	background: url("../image/Онега.png");
	clip-path: polygon(38% 40%,46% 32%,49% 35%,47% 42%,41% 43%);
}
.Енисей{
	width:1156px;
	height:723px;
	max-height:1250px;
	max-width:2000px;
	background: url("../image/Енисей.png");
	clip-path: polygon(51% 84.8%,50% 72%,52% 71.2%,49% 53.6%,49% 36%,52.5% 36%,52.5% 54.4%,55.5% 72.8%,53% 76.8%,54.5% 81.6%,54.5% 84.8%);
}
.Нижняя_Тунгуска{
	width:1156px;
	height:578px;
	max-height:1000px;
	max-width:2000px;
	background: url("../image/Нижняя Тунгуска.png");
	clip-path: polygon(62% 88%,62% 82%,64% 82%,63% 72%,58% 72%,50.5% 66%,50.5% 60%,53% 60%,54% 64%,65.5% 67%,67% 87%);
}
.Подкаменная_Тунгуска{
	width:1156px;
	height:578px;
	max-height:1000px;
	max-width:2000px;
	background: url("../image/Подкаменная Тунгуска.png");
	clip-path: polygon(61% 88%,61% 83%,53% 77%,51% 77%,51% 71%,56% 71%,58% 76%,60% 76%,63% 81%,63% 88%);
}
.Ангара{
	width:1156px;
	height:723px;
	max-height:1250px;
	max-width:2000px;
	background: url("../image/Ангара.png");
	clip-path: polygon(62% 84.8%,58% 70.4%,52% 70.4%,52% 66.4%,62% 64.8%,64% 84.8%);
}
.Селенга{
	width:1156px;
	height:723px;
	max-height:1250px;
	max-width:2000px;
	background: url("../image/Селенга.png");
	clip-path: polygon(56% 94.4%,55% 90.4%,64% 84.8%,64% 80%,67% 80%,67% 88%);
}
.Хатнга{
	width:1156px;
	height:578px;
	max-height:1000px;
	max-width:2000px;
	background: url("../image/Хатнга.png");
	clip-path: polygon(59% 48%,58% 45%,61% 41%,63% 43%);
}
.Оленек{
	width:1156px;
	height:578px;
	max-height:1000px;
	max-width:2000px;
	background: url("../image/Оленек.png");
	clip-path: polygon(62% 62%,60% 58%,68% 44%,66% 39%,68% 35%,72% 42%,69% 59%);
}
.Лена{
	width:1156px;
	height:578px;
	max-height:1000px;
	max-width:2000px;
	background: url("../image/Лена.png");
	clip-path: polygon(62% 100%,62% 88%,69% 72%,72% 73%,76% 67%,71% 58%,68% 40%,68% 34%,74% 34%,74% 54%,80% 62%,80% 69%,73% 80%,70% 80%,65% 92%,67% 96%,67% 100%);
}
.Алдан{
	width:1156px;
	height:578px;
	max-height:1000px;
	max-width:2000px;
	background: url("../image/Алдан.png");
	clip-path: polygon(76% 86%,76% 73%,81% 71%,81% 64%,77% 64%,77% 58%,85% 58%,85% 75%,79% 80%,79% 86%);
}
.Витим{
	width:1156px;
	height:578px;
	max-height:1000px;
	max-width:2000px;
	background: url("../image/Витим.png");
	clip-path: polygon(67% 100%,67% 95%,70% 90%,67% 81%,68% 78%,73% 82%,75% 92%,71% 100%);
}
.Вилюй{
	width:1156px;
	height:578px;
	max-height:1000px;
	max-width:2000px;
	background: url("../image/Вилюй.png");
	clip-path: polygon(66% 74%,60% 64%,60% 61%,66% 62%,66% 66%,70% 66%,76% 58%,77% 62%,71% 74%);
}
.Яна{
	width:1156px;
	height:578px;
	max-height:1000px;
	max-width:2000px;
	background: url("../image/Яна.png");
	clip-path: polygon(77% 51%,75% 36%,78% 37%,80% 51%);
}
.Колыма{
	width:1156px;
	height:578px;
	max-height:1000px;
	max-width:2000px;
	background: url("../image/Колыма.png");
	clip-path: polygon(87% 57%,89% 46%,86% 43%,86% 23%,90% 23%,90% 38%,92% 38%,93% 46%,91% 57%);
}
.Индигирка{
	width:1156px;
	height:578px;
	max-height:1000px;
	max-width:2000px;
	background: url("../image/Индигирка.png");
	clip-path: polygon(86% 59%,81% 46%,81% 27%,84% 27%,85% 44%,90% 54%);
}
.Анадырь{
	width:1156px;
	height:578px;
	max-height:1000px;
	max-width:2000px;
	background: url("../image/Анадырь.png");
	clip-path: polygon(95% 29%,94% 19%,100% 16%,100% 22%,98% 29%);
}
.Амур{
	width:1156px;
	height:723px;
	max-height:1250px;
	max-width:2000px;
	background: url("../image/Амур.png");
	clip-path: polygon(85% 84%,80% 76%,77% 76.8%,77% 73.6%,81% 71.2%,89% 78.4%,91% 62.4%,95% 62.4%,94% 75.2%,91% 84.8%);
}
.Аргунь{
	width:1156px;
	height:723px;
	max-height:1250px;
	max-width:2000px;
	background: url("../image/Аргунь.png");
	clip-path: polygon(75% 78.4%,75% 73.6%,78% 73.6%,78% 86.4%);
}
.Шилка{
	width:1156px;
	height:723px;
	max-height:1250px;
	max-width:2000px;
	background: url("../image/Шилка.png");
	clip-path: polygon(73% 83.2%,71% 80%,77% 72%,79% 75.2%);
}
.Зея{
	width:1156px;
	height:578px;
	max-height:1000px;
	max-width:2000px;
	background: url("../image/Зея.png");
	clip-path: polygon(83% 100%,83% 94%,81% 91%,81% 84%,84% 84%,85% 93%,85% 100%);
}
.Уссури{
	width:1156px;
	height:723px;
	max-height:1250px;
	max-width:2000px;
	background: url("../image/Уссури.png");
	clip-path: polygon(93% 90.4%,91% 80%,92% 76.8%,95% 90.4%);
}
.Бурея{
	width:1156px;
	height:578px;
	max-height:1000px;
	max-width:2000px;
	background: url("../image/Бурея.png");
	clip-path: polygon(85% 100%,88% 88%,90% 88%,87% 100%);
}

.Печора,.Мезень,.Урал,.Тобол,.Обь,.Иртыш,.Ишим,.Волга,.Дон,.Ока,.Кама,.Вятка,.Москва,.Северная_Двина,.Сухона,.Вычегда,.Клязьма,
.Вах,.Западная_Двина,.Ахтуба,.Юг,.Нева,.Свирь,.Бия,.Катунь,.Тура,.Чулым,.Северная_Сосьва,.Онега,.Енисей,.Нижняя_Тунгуска,
.Подкаменная_Тунгуска,.Ангара,.Селенга,.Хатнга,.Оленек,.Лена,.Алдан,.Витим,.Вилюй,.Яна,.Индигирка,.Колыма,.Анадырь,.Амур,.Аргунь,
.Шилка,.Зея,.Уссури,.Бурея {
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: left top;	
	/*transition: 0.6s;*/
	position:absolute;                        /*  позиция фиксируется, другие блоки уже не обтекают его, они его не видят*/
} 
/*.Печора:hover,.Мезень:hover,.Урал:hover,.Тобол:hover,.Обь:hover,.Иртыш:hover,.Ишим:hover,.Волга:hover,.Дон:hover,.Ока:hover,.Кама:hover,
.Вятка:hover,.Москва:hover,.Северная_Двина:hover,.Сухона:hover,.Вычегда:hover,.Клязьма:hover,.Вах:hover,.Западная_Двина:hover,.Ахтуба:hover,
.Юг:hover,.Нева:hover,.Свирь:hover,.Бия:hover,.Катунь:hover,.Тура:hover,.Чулым:hover,.Северная_Сосьва:hover,.Онега:hover,.Енисей:hover,
.Нижняя_Тунгуска:hover,.Подкаменная_Тунгуска:hover,.Ангара:hover,.Селенга:hover,.Хатнга:hover,.Оленек:hover,.Лена:hover,.Алдан:hover,
.Витим:hover,.Вилюй:hover,.Яна:hover,.Колыма:hover,.Индигирка:hover,.Анадырь:hover,.Амур:hover,.Аргунь:hover,.Шилка:hover,.Зея:hover,
.Уссури:hover,.Бурея:hover
	{filter: drop-shadow( 0 0px 5px black);}      /*  подсвечивание речки при наведении*/